.block-content {
  background-color:rgb(235,235,235);
  text-align: center;

  &-1 {
    background-color:rgb(235,235,235);
    text-align: center;
    border: solid black 2px;
  }
  &-2 {
    background-color:rgb(235,235,235);
    text-align: center;
    /*box-shadow: -4px 4px 6px #888888;*/
    border: solid black 2px;
  }
  &-3 {
    background-color:rgb(235,235,235);
    text-align: center;
    /*box-shadow: -4px 4px 6px #888888;*/
    border: solid black 2px;
  }

  &__icon {
    font-size: .8rem;
    padding: 1.125rem 0;
    text-shadow: -3px 3px 12px #000000;

    @mixin atSmall {
      font-size: 1rem;
      padding-top: 2.5rem;
    }
  }

  &__text {
    line-height: 1.35rem;
    font-weight: 400;
    padding: .75rem .75rem;
    text-align: left;

    p {
      margin-bottom: 0.8rem;

      @mixin atMedium {
        margin-bottom: 1rem;
      }
    }

    @mixin atSmall {
      font-size: 1.35rem;
      line-height: 2.25rem;
      padding: 1rem 1.5rem;
    }
  }

  &__text--about {
    font-weight: 400;
    padding-bottom: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1rem;

    @mixin atSmall {
      line-height: 2.5rem;
      font-size: 1.35rem;
      padding-bottom: 2.5rem;
    }
  }

  &__screenshot {
    position: relative;
    img {
      display:block;
      height: 100%;
      width: 100%;
      margin-bottom: 2rem;
      border: 1px solid black;
      transition: all .3s ease-out;

      @mixin atSmall {
        margin-bottom: 2rem;
      }

      @mixin atMedium {
        margin: 2rem 0;
      }
    }

    img:hover {
      box-shadow: -5px 5px 12px #888888;
      transform: scale(1.01) translate(-5px);
    }
  }

}
