.block-content {
  background-color:rgb(235,235,225);
  text-align: center;

  &-1 {
    background-color:rgb(235,235,225);
    text-align: center;
    box-shadow: -6px 6px 12px #888888;
  }
  &-2 {
    background-color:rgb(235,235,225);
    text-align: center;
    box-shadow: -6px 6px 12px #888888;
  }
  &-3 {
    background-color:rgb(235,235,225);
    text-align: center;
    box-shadow: -6px 6px 12px #888888;
  }

  &__icon {
    font-size: 1.6rem;
    padding: 1.5rem 0;
    text-shadow: -3px 3px 12px #000000;
    /*color: rgb(239, 218, 182);*/
  }

  &__text {
    line-height: 1.5rem;
    font-weight: 300;
    padding: 1rem 1rem;

    /*text-shadow: -3px 3px 12px #000000;*/

    @mixin atSmall {
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.5rem;
      padding: 2rem 2rem;
    }
  }

  &__screenshot:hover {
    box-shadow: -5px 5px 15px #888888;
  }
}
