.btn {
  background-color: rgb(67, 177, 216);
  text-decoration: none;
  color: white;
  padding: .2rem .8rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
  display: inline-block;
  border-bottom: 3px solid rgba(0,0,0, .3);
  border-left: 3px solid rgba(0,0,0, .3);

  @mixin atSmall {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
  }

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    padding: .6rem 1rem;

    @mixin atSmall {
      font-size: 1.2rem;
      padding: 1.1rem 1.9rem;
    }
  }
}

.btn:hover {
  color: yellow;
}
