.large-hero {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;

  &__image {
    display: block;
  }

  &__text-content {
    padding-top: 3.75rem;
    position: absolute;
    transform:translateY(-50%);
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 400;
    color:white;
    font-size: 3rem;
    text-shadow: -3px 3px 6px #000000;
    opacity: 0;
    margin-top: 2rem;
    animation: fade-in 2s forwards .5s ease-out;

    @mixin atSmall {
      font-size: 4rem;
    }

    @mixin atMedium {
      font-size: 6rem;
    }
  }

  &__subtitle {
    font-weight: 400;
    color: white;
    font-size: 1.2rem;
    text-shadow: -3px 3px 6px #000000;
    margin-top: 5rem;
    opacity: 0;
    animation: fade-in 2s forwards 1s ease-out;

    @mixin atSmall {
      font-size: 2rem;
    }

    @mixin atMedium {
      font-size: 2.4rem;
    }
  }

  &__arrow {
    position: absolute;
    color: rgba(255,255,255,.9);
    background-color: rgba(0,0,0, .4);
    border-radius: 50%;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 3rem;
    padding: .5rem;
    display: none;
    opacity: 0;
    animation: fade-in 1s 2.5s forwards ease-out, downward 1s infinite ease-out;

    @mixin atMedium {
      display:inline-block;
    }

    @mixin atLarge {
      bottom: 25%;
    }
  }
}

@keyframes downward {
  0% {
    transform: translate(-50%, 0);
  }
  85% {
    transform: translate(-50%, 3rem);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    margin: 0;
  }
}
