.page-section {
  padding: 2rem 0;

  &--dark {
    background-color: rgb(80,80,60);
    color: black;
  }

  &--light {
    background-color: rgb(225, 225, 210);
  }

  @mixin atSmall {
    padding: 4.5rem;
  }
}
