.page-section {
  padding: 2rem 0;
  /*border-bottom: 10px solid black;*/

  &--dark {
    background-color: rgb(170, 170, 150);
    color: black;
  }

  &--light {
    background-color: rgb(225, 225, 210);
  }

  &--contact {
    height: 1080px;
    background: url('../../assets/images/handshake2.jpg') top center no-repeat;
    background-size: cover;
    border-bottom:none;
  }

  @mixin atSmall {
    padding: 4.5rem;
  }
}
