.site-header {
  position: fixed;
  width: 100%;
  background-color: rgb(0,0,70);
  z-index: 1;
  padding: 1rem 0;
  height: 50px;
  transition: all .3s ease-out;

  &--expanded {
    height: 130px;
    background-color: rgba(0,0,70, .6);
  }

  @mixin atSmall {
    padding: 1.2rem 0;
    height: 60px;
    background-color: rgb(0,0,70);
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 20;

    &::before {
      content: "";
      background-color: white;
      position: absolute;
      width: 20px;
      height: 3px;
      top: 0;
      transition: all .3s ease-out;
    }

    &__mid {
      background-color: white;
      position: absolute;
      width: 20px;
      height: 3px;
      top: 8px;
      transition: all .3s ease-in;
    }

    &::after {
      content: "";
      background-color: white;
      position: absolute;
      width: 20px;
      height: 3px;
      top: 16px;
      transition: all .3s ease-out;
    }

    &:hover {
      &::before {
        background-color: rgb(150,150,150);
      }

      .site-header__menu-icon__mid {
        background-color: rgb(150,150,150);
      }

      &::after {
        background-color: rgb(150,150,150);
      }
    }

    @mixin atSmall {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: translateY(8px) rotate(45deg) scaleX(1.3);
    }

    .site-header__menu-icon__mid {
      transform:scaleX(0);
    }

    &::after {
      transform: translateY(-8px) rotate(-45deg) scaleX(1.3);
    }
  }

}
