.site-header {
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0, .6);
  z-index: 1;
  padding: 1rem 0;
  height: 55px;
  transition: all .3s ease-out;

  &--expanded {
    height: 145px;
  }

  @mixin atSmall {
    height: 55px;
  }

  @mixin atMedium {
    padding: 1.6rem 0;
    height: 86px;
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 20;

    @mixin atSmall {
      display: none;
    }
  }

}
