.social-icons {
  text-align: center;
  margin-top: 8rem;

  @mixin atMedium {
    margin-top: 15rem;
  }

  &__icon {
    position: relative;
    margin: 6rem auto;
    display: block;
    font-size:1.2rem;
    color: rgba(213,149,65, 1);
    background-color: rgba(255,255,255, 0.8);
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 1rem;
    transition: all .5s ease-out;

    @mixin atSmall {
      display: inline-block;
      margin: 1.5rem 1.2rem;
    }

    @mixin atLarge {
      margin: 2rem 5rem;
    }

    i {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__icon:hover {
    color: rgba(255,255,255, 1);
    background-color: rgba(213,149,65, 0.8);
    transform: scale(1.15);
    transition: all .3s ease-out 0s;
  }
}
